---
import Image from "@components/Image.astro";
import { owner } from "@data/constants";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import { formatDate } from "@utils/date";
import ClockIcon from "@lucide/astro/icons/clock";

const articles = await getCollection("blog");
articles.sort((a, b) => (a.data.date.getTime() - b.data.date.getTime()));

---

<Layout class="flex justify-center gap-10 max-md:flex-col">
  <div class="flex flex-col gap-4 md:max-w-2xs">
    <div>
      <Image {...owner.portrait} inferSize class="w-100" />
      <div class="pt-2 pl-2 text-sm font-bold">
        <div class="text-base-content/80">
          <span>Mareschizo, illustrator 🖌️ and a dev 💻.</span>
          <div><span class="italic">"Maregrind never stops!"</span> ☕</div>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-1">
      {
        owner.socials.map(({ category, socials }) => (
          <div class="divider text-base-content/40 my-2 text-sm">{category}</div>
          <ul class="flex flex-col gap-1">
            {socials.map((social) => (
              <li>
                <a
                  href={social.link}
                  title={social.name}
                  target="_blank"
                  class="btn btn-soft flex w-full flex-row justify-start"
                >
                  <social.icon class="size-5 fill-current" />
                  <span>{social.name}</span>
                </a>
              </li>
            ))}
          </ul>
        ))
      }
    </div>
  </div>

  <div class="flex max-w-3xl shrink flex-col gap-4">
    {
      articles.map((article) => {
        return (
          <a
            draggable="false"
            href={`/blog/${article.id}`}
            class:list={[
              "rounded-box border-base-300 border p-6 select-text",
              "flex gap-2 max-lg:flex-wrap justify-between",
              "shadow-md hover:shadow-lg",
              "bg-base-200 hover:bg-base-300",
            ]}
          >
            <div class="shrink">
              <h2 class="text-xl font-bold">{article.data.title}</h2>
              <span class="text-base-content/60 mt-1 mb-2 flex items-center gap-1 text-sm">
                <ClockIcon class="size-(--text-sm)" />
                {formatDate(article.data.date)}
              </span>
              <div class="text-base-content/80 shrink">
                {article.data.description}
              </div>
            </div>
            <Image
              {...article.data.image}
              inferSize
              class="border-base-300 rounded-box w-90 border h-fit"
            />
          </a>
        );
      })
    }
  </div>
</Layout>
