---
import Picture from "@components/Picture.astro";
import { owner } from "@data/constants";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import { formatDate } from "@utils/date";

const articles = await getCollection("blog");
---

<Layout class="flex flex-col gap-5">
  <div
    class="border-base-300 flex flex-col items-center rounded-md border lg:flex-row lg:p-0"
  >
    <Picture {...owner.portrait} inferSize class="w-150 px-4" />
    <div class="shrink p-4 text-sm">
      <h1 class="mb-2 text-lg font-bold">{owner.name}</h1>
      <div class="text-base-content/90">
        <div>Developer and an aspiring mare artist.</div>
        <div class="italic">"Mares, I love them."</div>
      </div>
    </div>
  </div>
  <h1 class="text-2xl font-extrabold">Blog</h1>
  <div>
    {
      articles.map((article) => {
        const href = `/blog/${article.id}`;
        return (
          <a
            href={href}
            class:list={[
              "border-base-300 bg-base-200 dark:bg-base-200/40 block",
              "rounded-md border p-6 shadow hover:scale-[1.01]",
              "scale-100 will-change-transform active:scale-100 dark:shadow-none",
            ]}
            style="opacity:1;transition:transform 0.2s ease-in-out, opacity 0.2s 0.4s linear"
          >
            <div>
              <h2 class="text-xl font-bold">{article.data.title}</h2>
              <span class="text-base-content/80 text-sm">
                {formatDate(article.data.date)}
              </span>
              <figure class="my-4 max-w-80">
                <Picture {...article.data.image} inferSize />
              </figure>
              <div class="mt-2 shrink">{article.data.description}</div>
            </div>
          </a>
        );
      })
    }
  </div>
</Layout>
