---
import "./global.css";
import { ClientRouter } from "astro:transitions";
import { z } from "astro:content";
import Footer from "@components/Footer.astro";
import Navigation from "@components/Navigation.astro";
import { owner } from "@data/constants";
import { inferRemoteSize } from "astro:assets";

interface Props {
  /**
   * Displayed as the browser tab name
   */
  title?: string;

  /**
   * Displayed in search engine results and social media previews.
   */
  description?: string;

  keywords?: string[];

  /**
   * Displayed in search engine results and social media previews
   */
  image?: {
    /**
     * Must be less than 5MB in size.
     */
    src: string;
    alt: string;
  };

  video?: {
    /**
     * Must be less than 5MB in size.
     */
    src: string;
    alt: string;
    type: "video/webm";
    width: number;
    height: number;
  };

  /**
   * Class to assign to the `<main>` element.
   */
  class?: string;
}

const {
  description = "Developer and a beginner artist",
  image = owner.portrait,
  video,
  class: className = "",
  keywords = [],
} = Astro.props;

const imageMeta = await inferRemoteSize(image.src);
const imageMime = {
  jpeg: "image/jpeg",
  jpg: "image/jpeg",
  png: "image/png",
  tiff: "image/tiff",
  webp: "image/webp",
  gif: "image/gif",
  svg: "image/svg+xml",
  avif: "image/avif",
}[imageMeta.format];

const title = Astro.props.title
  ? `${Astro.props.title} | ${owner.name}`
  : owner.name;

z.string().max(200).parse(description);
z.string().max(70).parse(title);
z.string().max(420).parse(image.alt);

const xSocialName = "X (Twitter)";

const xSocial = owner.socials
  .flatMap((category) => category.socials)
  .find((social) => social.name === xSocialName);

let xHandle: string | undefined;

if (xSocial != null) {
  xHandle = xSocial.link.split("/").pop();

  if (xHandle == null) {
    throw new Error(`Couldn't parse ${xSocialName} handle: '${xSocial.link}'`);
  }
}
---

<!doctype html>
<html lang="en" transition:animate="fade">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <ClientRouter />

    <!-- Open Graph (https://ogp.me) -->
    <meta property="og:title" content={title} />

    <meta property="og:type" content={video ? "video.other" : "website"} />

    <meta property="og:image" content={image.src} />
    <meta property="og:image:alt" content={image.alt} />
    <meta property="og:image:width" content={imageMeta.width.toString()} />
    <meta property="og:image:height" content={imageMeta.height.toString()} />
    <meta property="og:image:type" content={imageMime} />

    {
      video && (
        <>
          <meta property="og:video" content={video.src} />
          <meta property="og:video:alt" content={video.alt} />
          <meta property="og:video:width" content={video.width.toString()} />
          <meta property="og:video:height" content={video.height.toString()} />
          <meta property="og:video:type" content={video.type} />
        </>
      )
    }

    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content={owner.name} />

    <!-- https://developer.x.com/en/docs/x-for-websites/cards/overview/markup -->
    {
      xHandle && (
        <>
          <meta name="twitter:card" content="summary_large_image" />
          <meta name="twitter:title" content={title} />
          <meta name="twitter:description" content={description} />
          <meta name="twitter:image" content={image.src} />
          <meta name="twitter:image:alt" content={image.alt} />
          <meta name="twitter:site" content={xHandle} />
          <meta name="twitter:creator" content={xHandle} />
        </>
      )
    }

    <meta name="dc:creator" content={owner.name} />
    <meta name="description" content={description} />

    {
      keywords.length > 0 && (
        <meta name="keywords" content={keywords.join(", ")} />
      )
    }

    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <script
      defer
      src="https://umami.mare-stare.com/script.js"
      data-website-id="6b5064da-d5d5-40bc-9b74-15cac5f58ec8"
    >
    </script>
    <script is:inline src="/global.js"></script>
  </head>
  <body>
    <div class="flex min-h-screen flex-col">
      <Navigation />
      <main class="mx-6 my-4 mt-8 flex-1" class:list={className}>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
